html,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* Ensure all elements use border-box sizing */
	background-color: #ffffff; /* White background */
	color: #000000; /* Black text */
}

#root {
	height: 100vh; /* Ensure the root container takes full height */
}

.transaction {
	display: grid;
	grid-template-columns: 230px 1fr;
	background-color: #ffffff;
	height: 100vh;
	width: 100%;
}

.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 8px;
}

.transaction_menu {
	background-color: rgb(226, 240, 235);
	grid-column: span 3 / span 5;
	grid-column-start: 1;
	grid-row-start: 1;
}

.transactions_container {
	background-color: rgb(228, 228, 228);
	grid-column: span 3 / span 5;
	grid-row: span 3 / span 4;
	grid-column-start: 1;
	grid-row-start: 2;
	margin: 30px;
	padding: 20px;
	background-color: #f9f9f9; /* Light background for visibility */
	border: 1px solid #ccc; /* Border around the transactions section */
	border-radius: 5px; /* Rounded corners */
}
h2 {
	display: flex;
	align-self: flex-start;
	color: black;
}

.transactions_table {
	width: 100%;
	border-collapse: collapse;
}

.transactions_table th,
.transactions_table td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #6e6d6d;
}

.transactions_table th {
	background-color: #f4f4f4;
}

.icon {
	display: inline-block;
	margin-right: 5px;
}

.sent {
	color: #ff5c5c;
}

.received {
	color: #4caf50;
}

.converted {
	color: #3e82f7;
}

.status {
	padding: 3px 10px;
	border-radius: 15px;
	font-size: 0.9em;
}

.status.success {
	background-color: #e0f7e0;
	color: #4caf50;
}

.status.failed {
	background-color: #fbe9e9;
	color: #ff5c5c;
}

.status.incomplete {
	background-color: #f1f1f1;
	color: #777;
}
